footer {
    background: #ddd;
    padding: 60px 0
}

footer .blurbs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: var(--content-width);
    margin: 0 auto;
    grid-gap: 40px;
}

footer .blurb {
    text-align: center;
    color: var(--p-text-color);
    line-height: 2em;
    font-size: 0.9em
}